# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/external/*

# Models
models/*

# OS
.DS_Store
Thumbs.db
